# sudo cp figtree.service /etc/systemd/system; sudo systemctl enable --now figtree.service
[Unit]
Description=figtree.service
Wants=remote-fs.target
After=network-online.target

[Service]
User=hyperuser
Group=hyperuser
Type=exec
TimeoutStartSec=86400
TimeoutStopSec=122
ExecStart=/usr/bin/env ssh secure.us.hyperspire.net -o "StrictHostKeyChecking no" -t "/usr/bin/env bash -c '~/hyperstor/bin/figtreeservice start'"
ExecStop=/usr/bin/env ssh secure.us.hyperspire.net -o "StrictHostKeyChecking no" -t "/usr/bin/env bash -c '~/hyperstor/bin/gitupur push'"

[Install]
WantedBy=remote-fs.target