# sudo cp -f ~/QWOD/RESEARCH/figtree.service /etc/systemd/system/figtree.service; sudo systemctl daemon-reload; sudo systemctl enable --now figtree.service
[Unit]
Description=figtree.service
Wants=remote-fs.target
After=network-online.target

[Service]
User=hyperuser
Group=hyperuser
Type=exec
TimeoutStartSec=86400
TimeoutStopSec=122
ExecStart=/var/home/hyperuser/bin/figtreeservice start
ExecStop=/var/home/hyperuser/bin/figtreeservice stop
[Install]
WantedBy=remote-fs.target