# sudo cp -f ~/hyperstor/QWOD/RESEARCH/remotefigtree.service /etc/systemd/system/remotefigtree.service; sudo systemctl daemon-reload; sudo systemctl enable --now remotefigtree.service
[Unit]
Description=remotefigtree.service
Wants=remote-fs.target
After=network-online.target

[Service]
User=hyperuser
Group=hyperuser
Type=exec
TimeoutStartSec=86400
TimeoutStopSec=122
ExecStart=/home/hyperuser/hyperstor/QWOD/RESEARCH/figtreeservice-remote.sh start

[Install]
WantedBy=remote-fs.target